{% include 'header.html' %}
<br>
<div style="text-align:center">
    <form action="/storecamion" method="post" enctype="multipart/form-data">
        <table class="table">
            <thead>
                <tr>
                    <th>Matricula<input type="text" name="txtMatricula" id="txtMatricula"></th>
                </tr>
                <tr>
                    <th text-right>Potencia<input type="text" name="txtPotencia" id="txtPotencia">
                    </th>
                </tr>
                <tr>
                    <th text-right>Modelo<input type="text" name="txtModelo" id="txtModelo">
                    </th>
                </tr>
                <tr>
                    <th text-right>Tipo<input type="text" name="txtTipo" id="txtTipo">
                    </th>
                </tr>
            </thead>
        </table>
        <input type="submit" value="Insertar" class="btn btn-dark">
    </form>
</div>
{% include 'footer.html' %}