{% include 'header.html' %}
<br>
<div style="text-align:center">
    <form action="/storeconduce" method="post" enctype="multipart/form-data">
        <table class="table">
            <thead>
                <tr>
                    <th>DNI CAMIONERO<input type="text" name="txtDNICAMIONERO" id="txtDNICAMIONERO"></th>
                </tr>
                <tr>
                    <th text-right>MATRICULA CAMIÓN<input type="text" name="txtMATRICULACAMION" id="txtMATRICULACAMION">
                    </th>
                </tr>
            </thead>
        </table>
        <input type="submit" value="Insertar" class="btn btn-dark">
    </form>
</div>
{% include 'footer.html' %}