{% include 'header.html' %}
{% for camion in camion %}
<form action="/actualizarCamion" method="post" enctype="multipart/form-data">
    Matricula:
    <input type="text" value="{{camion[0]}}" name="txtMatricula" id="txtMatricula" readonly>
    <br>
    Potencia:
    <input type="text" value="{{camion[1]}}" name="txtPotencia" id="txtPotencia">
    <br>
    Modelo:
    <input type="text" value="{{camion[2]}}" name="txtModelo" id="txtModelo">
    <br>
    Tipo:
    <input type="text" value="{{camion[3]}}" name="txtTipo" id="txtTipo">
    <br>
    <input type="submit" value="Actualizar">
</form>
{% endfor %}
{% include 'footer.html' %}