</div>
<style>
    body {
        height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
    }



    footer {
        margin-top: auto;
    }
</style>
<br>
<footer class="bg-primary text-white text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Paquetería GitHub</h5>
                <p>
                    Consiste en el porte de paquetes debidamente envueltos y rotulados o con embalaje que permite su
                    traslado y que se presta a terceros en caminos de jurisdicción federal, según el Reglamento de
                    Paquetería y Mensajería
                </p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

                <ul class="list-unstyled mb-0">

                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

                <ul class="list-unstyled">
                    <li>
                        <a href="https://github.com/Pablo-Programacion" class="text-white"><i class="fa fa-github"
                                aria-hidden="true"></i> GitHub</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/pablo-alonso-fern%C3%A1ndez-l%C3%B3pez-883b60174/"
                            class="text-white"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/?hl=ES" class="text-white"><i class="fa fa-youtube"
                                aria-hidden="true"></i> Youtube</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://github.com/Pablo-Programacion">Git hub</a>
    </div>
    <!-- Copyright -->
</footer>
</body>

</html>