{% include 'header.html' %}
<br>
<div style="text-align:center">
    <form action="/storepaquete" method="post" enctype="multipart/form-data">
        <table class="table">
            <thead>
                <tr>
                    <th>Código<input type="text" name="txtCodigo" id="txtCodigo"></th>
                </tr>
                <tr>
                    <th text-right>Descripción<input type="text" name="txtDescripcion" id="txtDescripcion"></th>
                </tr>
                <tr>
                    <th text-right>Destinatario<input type="text" name="txtDestinatario" id="txtDestinatario"></th>
                </tr>
                <tr>
                    <th text-right>Dirección<input type="text" name="txtDireccion" id="txtDireccion"></th>
                </tr>
                <tr>
                    <th text-right>Provincia Código<input type="text" name="txtProvinciaCodigo" id="txtProvinciaCodigo">
                    </th>
                </tr>
                <tr>
                    <th text-right>Dni Camionero<input type="text" name="txtDniCamionero" id="txtDniCamionero">
                    </th>
                </tr>
            </thead>
        </table>
        <input type="submit" value="Insertar" class="btn btn-dark">
    </form>
</div>
{% include 'footer.html' %}