{% include 'header.html' %}
{% for paquete in paquete %}
<form action="/actualizarPaquete" method="post" enctype="multipart/form-data">
    Codigo:
    <input type="text" value="{{paquete[0]}}" name="txtCodigo" id="txtCodigo" readonly>
    <br>
    Paquete:
    <input type="text" value="{{paquete[1]}}" name="txtDescripcion" id="txtDescripcion">
    <br>
    Destinatario:
    <input type="text" value="{{paquete[2]}}" name="txtDestinatario" id="txtDestinatario">
    <br>
    Dirección:
    <input type="text" value="{{paquete[3]}}" name="txtDireccion" id="txtDireccion">
    <br>
    Provincia Codigo [FK]:
    <input type="text" value="{{paquete[4]}}" name="txtProvinciaCodigo" id="txtProvinciaCodigo">
    <br>
    Provincia Codigo [FK]:
    <input type="text" value="{{paquete[5]}}" name="txtDniCamionero" id="txtDniCamionero">
    <input type="submit" value="Actualizar">
</form>
{% endfor %}
{% include 'footer.html' %}